/* src/styles/leaflet-polish.css */

.pulse-critical {
  animation: pulse 1.6s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.35);
    opacity: 0.65;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Remove ugly focus outlines */
.leaflet-interactive {
  outline: none;
}
